@import "colors"

BODY
  font-family "Helvetica Neue", "Helvetica", "Arial", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif

  background-color grey-color
  color light-green-color

section
  display grid