doctype html
html(lang='en')
    head
        title Fastify Server / Mongo
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='static/index.css', rel='stylesheet')
    body
        section.section
            #container !{vueHTML}
                noscript
                    h1.title Please enable JavaScript
    script(type='text/javascript', src='static/index.js')